In [1]:
import pandas as pd
from collections import Counter
from itertools import combinations, groupby, chain
import pickle
import warnings
warnings.filterwarnings('ignore')

In [2]:
order_products_prior = pd.read_csv('./archive (1)/order_products__prior.csv')
order_products_train = pd.read_csv('./archive (1)/order_products__train.csv')
orders = pd.read_csv('./archive (1)/orders.csv')
aisles = pd.read_csv('./archive (1)/aisles.csv')
products = pd.read_csv('./archive (1)/products.csv')
depts = pd.read_csv('./archive (1)/departments.csv')

In [3]:
product_aisles = pd.merge(products,aisles, on = 'aisle_id', how = 'left')

In [4]:
products_desc = pd.merge(product_aisles, depts, on = 'department_id', how = 'left')

In [5]:
products_desc.head()

,product_id,product_name,aisle_id,department_id,aisle,department
0,1,Chocolate Sandwich Cookies,61,19,cookies cakes,snacks
1,2,All-Seasons Salt,104,13,spices seasonings,pantry
2,3,Robust Golden Unsweetened Oolong Tea,94,7,tea,beverages
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,frozen meals,frozen
4,5,Green Chile Anytime Sauce,5,13,marinades meat preparation,pantry

In [6]:
products_desc[products_desc['aisle']=='missing']

,product_id,product_name,aisle_id,department_id,aisle,department
37,38,Ultra Antibacterial Dish Liquid,100,21,missing,missing
71,72,Organic Honeycrisp Apples,100,21,missing,missing
109,110,Uncured Turkey Bologna,100,21,missing,missing
296,297,"Write Bros Ball Point Pens, Cap-Pen, Medium (1...",100,21,missing,missing
416,417,Classics Baby Binks Easter Chocolate Bunny,100,21,missing,missing
...,...,...,...,...,...,...
49552,49553,Organic Plain Skyr,100,21,missing,missing
49574,49575,Chocolate Vanilla Malt Custard,100,21,missing,missing
49640,49641,"8\"" Pecan Pie",100,21,missing,missing
49663,49664,Lemon Cayenne Drinking Vinegar,100,21,missing,missing
49668,49669,K Cup Dark Blend,100,21,missing,missing

In [7]:
pickle.dump(products_desc,open('products_desc.p','wb'))

In [8]:
orders_test = orders[orders['eval_set']=='test']
orders_test

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
38,2774568,3,test,13,5,15,11.0
44,329954,4,test,6,3,12,30.0
53,1528013,6,test,4,3,16,22.0
96,1376945,11,test,8,6,11,8.0
102,1356845,12,test,6,1,20,30.0
...,...,...,...,...,...,...,...
3420918,2728930,206202,test,23,2,17,6.0
3420929,350108,206204,test,5,4,14,14.0
3421001,1043943,206206,test,68,0,20,0.0
3421018,2821651,206207,test,17,2,13,14.0
3421068,803273,206208,test,50,5,11,4.0

In [9]:
merged_order_products = pd.merge(order_products_train, order_products_prior,how = 'outer')
merged_order_products.head()

   order_id  product_id  add_to_cart_order  reordered
0         1       49302                  1          1
1         1       11109                  2          1
2         1       10246                  3          0
3         1       49683                  4          0
4         1       43633                  5          1

In [10]:
order_products_desc = pd.merge(merged_order_products,products_desc, on='product_id')
order_products_desc.head()

,order_id,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,aisle,department
0,1,49302,1,1,Bulgarian Yogurt,120,16,yogurt,dairy eggs
1,816049,49302,7,1,Bulgarian Yogurt,120,16,yogurt,dairy eggs
2,1242203,49302,1,1,Bulgarian Yogurt,120,16,yogurt,dairy eggs
3,1383349,49302,11,1,Bulgarian Yogurt,120,16,yogurt,dairy eggs
4,1787378,49302,8,0,Bulgarian Yogurt,120,16,yogurt,dairy eggs

In [11]:
merged_orders = pd.merge(orders, order_products_desc, on = 'order_id')
merged_orders.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,aisle,department
0,2539329,1,prior,1,2,8,NaN,196,1,0,Soda,77,7,soft drinks,beverages
1,2539329,1,prior,1,2,8,NaN,26088,4,0,Aged White Cheddar Popcorn,23,19,popcorn jerky,snacks
2,2539329,1,prior,1,2,8,NaN,14084,2,0,Organic Unsweetened Vanilla Almond Milk,91,16,soy lactosefree,dairy eggs
3,2539329,1,prior,1,2,8,NaN,26405,5,0,XL Pick-A-Size Paper Towel Rolls,54,17,paper goods,household
4,2539329,1,prior,1,2,8,NaN,12427,3,0,Original Beef Jerky,23,19,popcorn jerky,snacks

In [12]:
test = orders[orders['eval_set']=='test']
test.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
38,2774568,3,test,13,5,15,11.0
44,329954,4,test,6,3,12,30.0
53,1528013,6,test,4,3,16,22.0
96,1376945,11,test,8,6,11,8.0
102,1356845,12,test,6,1,20,30.0

In [13]:
pickle.dump(merged_orders, open("merged_orders.p", "wb"))

In [14]:
user_data = merged_orders[['user_id', 'order_number', 'order_dow', 'order_hour_of_day','days_since_prior_order', 'aisle']]
user_data = pd.get_dummies(user_data, prefix=None, columns=['aisle'])

In [15]:
# Splitting the data in thirds to use groupby then will rejoin them
user_data1 = user_data[user_data['user_id'] <= 65000]
user_data2 = user_data[(user_data['user_id'] <= 135000) & (user_data['user_id'] > 65000)]
user_data3 = user_data[user_data['user_id'] > 135000]

In [16]:
grouped_user1 = user_data1.groupby('user_id').sum()
grouped_user2 = user_data2.groupby('user_id').sum()
grouped_user3 = user_data3.groupby('user_id').sum()

In [17]:
user_data1_noaisles = user_data1.iloc[:,:5]
user_data2_noaisles = user_data2.iloc[:,:5]
user_data3_noaisles = user_data3.iloc[:,:5]

In [18]:
group1 = user_data1_noaisles.groupby('user_id').agg({'order_number': 'max', 'order_dow': lambda x:x.value_counts().index[0],
                                                     'order_hour_of_day': 'median', 'days_since_prior_order': 'mean'})
group2 = user_data2_noaisles.groupby('user_id').agg({'order_number': 'max', 'order_dow': lambda x:x.value_counts().index[0],
                                                     'order_hour_of_day': 'median', 'days_since_prior_order': 'mean'})
group3 = user_data3_noaisles.groupby('user_id').agg({'order_number': 'max', 'order_dow': lambda x:x.value_counts().index[0],
                                                     'order_hour_of_day': 'median', 'days_since_prior_order': 'mean'})

In [19]:
grouped_user1['num_orders'] = group1.order_number
grouped_user2['num_orders'] = group2.order_number
grouped_user3['num_orders'] = group3.order_number

grouped_user1['mean_days_since'] = group1.days_since_prior_order
grouped_user2['mean_days_since'] = group2.days_since_prior_order
grouped_user3['mean_days_since'] = group3.days_since_prior_order

grouped_user1['mode_order_dow'] = group1.order_dow
grouped_user2['mode_order_dow'] = group2.order_dow
grouped_user3['mode_order_dow'] = group3.order_dow

grouped_user1['median_order_hour'] = group1.order_hour_of_day
grouped_user2['median_order_hour'] = group2.order_hour_of_day
grouped_user3['median_order_hour'] = group3.order_hour_of_day

grouped_user1.drop(columns=['order_number', 'order_dow', 'order_hour_of_day', 'days_since_prior_order'], inplace=True)
grouped_user2.drop(columns=['order_number', 'order_dow', 'order_hour_of_day', 'days_since_prior_order'], inplace=True)
grouped_user3.drop(columns=['order_number', 'order_dow', 'order_hour_of_day', 'days_since_prior_order'], inplace=True)

grouped_users = pd.concat([grouped_user1, grouped_user2, grouped_user3], axis=0)
grouped_users.head()

,aisle_air fresheners candles,aisle_asian foods,aisle_baby accessories,aisle_baby bath body care,aisle_baby food formula,aisle_bakery desserts,aisle_baking ingredients,aisle_baking supplies decor,aisle_beauty,aisle_beers coolers,...,aisle_trail mix snack mix,aisle_trash bags liners,aisle_vitamins supplements,aisle_water seltzer sparkling water,aisle_white wines,aisle_yogurt,num_orders,mean_days_since,mode_order_dow,median_order_hour
user_id,,,,,,,,,,,,,,,,,,,,,
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,2,11,19.200000,4,8.0
2,0,3,0,0,0,0,2,0,0,0,...,0,0,0,2,0,42,15,18.009390,1,10.0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,2,0,0,12,11.487179,0,16.0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,5,15.357143,4,13.0
5,1,4,0,0,0,0,0,0,0,0,...,0,0,0,0,0,3,5,12.314286,0,16.0

In [20]:
def movecol(df, cols_to_move=[], ref_col='', place='After'):

    cols = df.columns.tolist()
    if place == 'After':
        seg1 = cols[:list(cols).index(ref_col) + 1]
        seg2 = cols_to_move
    if place == 'Before':
        seg1 = cols[:list(cols).index(ref_col)]
        seg2 = cols_to_move + [ref_col]

    seg1 = [i for i in seg1 if i not in seg2]
    seg3 = [i for i in cols if i not in seg1 + seg2]

    return(df[seg1 + seg2 + seg3])

In [21]:
grouped_users = movecol(grouped_users,
                        cols_to_move=['num_orders', 'mode_order_dow', 'median_order_hour', 'mean_days_since'],
                        ref_col='aisle_air fresheners candles',
                        place='Before')
grouped_users.head()

,num_orders,mode_order_dow,median_order_hour,mean_days_since,aisle_air fresheners candles,aisle_asian foods,aisle_baby accessories,aisle_baby bath body care,aisle_baby food formula,aisle_bakery desserts,...,aisle_spreads,aisle_tea,aisle_tofu meat alternatives,aisle_tortillas flat bread,aisle_trail mix snack mix,aisle_trash bags liners,aisle_vitamins supplements,aisle_water seltzer sparkling water,aisle_white wines,aisle_yogurt
user_id,,,,,,,,,,,,,,,,,,,,,
1,11,4,8.0,19.200000,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,2
2,15,1,10.0,18.009390,0,3,0,0,0,0,...,3,1,1,0,0,0,0,2,0,42
3,12,0,16.0,11.487179,0,0,0,0,0,0,...,4,1,0,0,0,0,0,2,0,0
4,5,4,13.0,15.357143,0,0,0,0,0,0,...,0,0,0,1,0,0,0,1,0,0
5,5,0,16.0,12.314286,1,4,0,0,0,0,...,0,0,0,0,0,0,0,0,0,3

In [22]:
pickle.dump(grouped_users, open("grouped_users.p", "wb"))

In [23]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaled_users = scaler.fit_transform(grouped_users)

In [24]:
from sklearn.cluster import KMeans
k_means_20 = KMeans(n_clusters=20, random_state=12, algorithm='full').fit(scaled_users)
pickle.dump(k_means_20, open("k_means_20.p", "wb"))

In [25]:
grouped_users['cluster'] = k_means_20.labels_

In [26]:
pickle.dump(grouped_users, open('clustered_users.p', 'wb'))

In [27]:
clustered_users = pickle.load(open("clustered_users.p", "rb"))

In [28]:
clustered_users.reset_index(inplace=True)

In [29]:
clustered_orders = merged_orders.merge(clustered_users[['user_id','cluster']], on = 'user_id')

In [30]:
def freq(iterable):
    if type(iterable) == pd.core.series.Series:
        return iterable.value_counts().rename("freq")
    else:
        return pd.Series(Counter(iterable)).rename("freq")


# Returns number of unique orders
def order_count(order_item):
    return len(set(order_item.index))

#Returns generator that yields item pairs, one at a time
def get_item_pairs(order_item):
    order_item = order_item.reset_index().to_numpy()
    for order_id, order_object in groupby(order_item, lambda x: x[0]):
        item_list = [item[1] for item in order_object]

        for item_pair in combinations(item_list, 2):
            yield item_pair


# Returns frequency and support associated with item
def merge_item_stats(item_pairs, item_stats):
    return (item_pairs
            .merge(item_stats.rename(columns={'freq': 'freqA', 'support': 'supportA'}),
                   left_on='item_A', right_index=True)
            .merge(item_stats.rename(columns={'freq': 'freqB', 'support': 'supportB'}),
                   left_on='item_B', right_index=True))


# Returns name associated with item
def merge_item_name(rules, item_name):
    columns = ['itemA','itemB','freqAB','supportAB','freqA','supportA','freqB','supportB',
               'confidenceAtoB','confidenceBtoA','lift']
    rules = (rules
             .merge(item_name.rename(columns={'item_name': 'itemA'}), left_on='item_A', right_on='item_id')
             .merge(item_name.rename(columns={'item_name': 'itemB'}), left_on='item_B', right_on='item_id'))

In [31]:
def association_rules(order_item, min_support):

    #     print("Starting number of order_item pairs: {:22d}".format(len(order_item)))
    print("Starting number of orders, items, order_item pairs: {}, {}, {}".format(order_item.index.nunique(),
                                                                                  order_item.nunique(),len(order_item)))

    # Calculate item frequency and support
    item_stats             = freq(order_item).to_frame("freq")
    item_stats['support']  = item_stats['freq'] / order_count(order_item)


    # Filter from order_item items below min support
    qualifying_items       = item_stats[item_stats['support'] >= min_support].index
    order_item             = order_item[order_item.isin(qualifying_items)]

    print("Items with support >= {}: {:15d}".format(min_support, len(qualifying_items)))
    #     print("Remaining order_item: {:21d}".format(len(order_item)))
    print("Remaning number of orders, items, order_item pairs: {}, {}, {}".format(order_item.index.nunique(),
                                                                                  order_item.nunique(),len(order_item)))


    # Filter from order_item orders with less than 2 items
    order_size             = freq(order_item.index)
    qualifying_orders      = order_size[order_size >= 2].index
    order_item             = order_item[order_item.index.isin(qualifying_orders)]

    print("Remaining orders with 2+ items: {:11d}".format(len(qualifying_orders)))
    #     print("Remaining order_item: {:21d}".format(len(order_item)))
    print("Remaining number of orders, items, order_item pairs: {}, {}, {}".format(order_item.index.nunique(),
                                                                                   order_item.nunique(),len(order_item)))


    # Recalculate item frequency and support
    item_stats             = freq(order_item).to_frame("freq")
    item_stats['support']  = item_stats['freq'] / order_count(order_item)


    # Get item pairs generator
    item_pair_gen          = get_item_pairs(order_item)


    # Calculate item pair frequency and support
    item_pairs              = freq(item_pair_gen).to_frame("freqAB")
    item_pairs['supportAB'] = item_pairs['freqAB'] / len(qualifying_orders)

    print("Item pairs: {:31d}".format(len(item_pairs)))


    # Filter from item_pairs those below min support
    item_pairs              = item_pairs[item_pairs['supportAB'] >= min_support]

    print("Item pairs with support >= {}: {:10d}\n".format(min_support, len(item_pairs)))


    # Create table of association rules and compute relevant metrics
    item_pairs = item_pairs.reset_index().rename(columns={'level_0': 'item_A', 'level_1': 'item_B'})
    item_pairs = merge_item_stats(item_pairs, item_stats)

    item_pairs['confAtoB'] = item_pairs['supportAB'] / item_pairs['supportA']
    item_pairs['confBtoA'] = item_pairs['supportAB'] / item_pairs['supportB']
    item_pairs['lift']           = item_pairs['supportAB'] / (item_pairs['supportA'] * item_pairs['supportB'])


    # Return association rules sorted by lift in descending order
    return item_pairs.sort_values('lift', ascending=False)

In [32]:
cluster_orders = {}
for x in range(0,20):
    i = clustered_orders[clustered_orders['cluster'] == x]
    i = i[['order_id', 'product_id']]
    i = i.set_index('order_id')['product_id'].rename('item_id')
    cluster_orders[x] = i

In [33]:
group_association_rules_dic = {}
for x in range(0,20):
    print('Cluster: ', x)
    group_association_rules_dic[x] = association_rules(cluster_orders[x],.0001)

Cluster:  0
Starting number of orders, items, order_item pairs: 29656, 14619, 246011
Items with support >= 0.0001:            8863
Remaning number of orders, items, order_item pairs: 29608, 8863, 238357
Remaining orders with 2+ items:       28009
Remaining number of orders, items, order_item pairs: 28009, 8862, 236758
Item pairs:                          774800
Item pairs with support >= 0.0001:     115467

Cluster:  1
Starting number of orders, items, order_item pairs: 479984, 44452, 3398666
Items with support >= 0.0001:            9241
Remaning number of orders, items, order_item pairs: 474204, 9241, 3028163
Remaining orders with 2+ items:      419257
Remaining number of orders, items, order_item pairs: 419257, 9241, 2973216
Item pairs:                         4809491
Item pairs with support >= 0.0001:      26647

Cluster:  2
Starting number of orders, items, order_item pairs: 43407, 25356, 599753
Items with support >= 0.0001:           13675
Remaning number of orders, items, order_item pairs: 43371, 13675, 577018
Remaining orders with 2+ items:       42602
Remaining number of orders, items, order_item pairs: 42602, 13675, 576249
Item pairs:                         2448133
Item pairs with support >= 0.0001:     224955

Cluster:  3
Starting number of orders, items, order_item pairs: 35028, 16601, 498904
Items with support >= 0.0001:            9426
Remaning number of orders, items, order_item pairs: 35008, 9426, 487258
Remaining orders with 2+ items:       34586
Remaining number of orders, items, order_item pairs: 34586, 9426, 486836
Item pairs:                         1653241
Item pairs with support >= 0.0001:     265643

Cluster:  4
Starting number of orders, items, order_item pairs: 166720, 38876, 1538286
Items with support >= 0.0001:           13439
Remaning number of orders, items, order_item pairs: 165896, 13439, 1406182
Remaining orders with 2+ items:      157712
Remaining number of orders, items, order_item pairs: 157712, 13439, 1397998
Item pairs:                         4409063
Item pairs with support >= 0.0001:      26853

Cluster:  5
Starting number of orders, items, order_item pairs: 739134, 45431, 7536181
Items with support >= 0.0001:           10600
Remaning number of orders, items, order_item pairs: 735998, 10600, 6995838
Remaining orders with 2+ items:      706191
Remaining number of orders, items, order_item pairs: 706191, 10600, 6966031
Item pairs:                         9803365
Item pairs with support >= 0.0001:      59925

Cluster:  6
Starting number of orders, items, order_item pairs: 161710, 38840, 2110061
Items with support >= 0.0001:           14877
Remaning number of orders, items, order_item pairs: 161418, 14877, 1987238
Remaining orders with 2+ items:      158619
Remaining number of orders, items, order_item pairs: 158619, 14877, 1984439
Item pairs:                         6842451
Item pairs with support >= 0.0001:      85280

Cluster:  7
Starting number of orders, items, order_item pairs: 566386, 44321, 4290064
Items with support >= 0.0001:            9009
Remaning number of orders, items, order_item pairs: 560605, 9009, 3877814
Remaining orders with 2+ items:      503287
Remaining number of orders, items, order_item pairs: 503287, 9009, 3820496
Item pairs:                         5518430
Item pairs with support >= 0.0001:      33922

Cluster:  8
Starting number of orders, items, order_item pairs: 9135, 8901, 126541
Items with support >= 0.0001:            8901
Remaning number of orders, items, order_item pairs: 9135, 8901, 126541
Remaining orders with 2+ items:        9002
Remaining number of orders, items, order_item pairs: 9002, 8892, 126408
Item pairs:                          536176
Item pairs with support >= 0.0001:     536176

Cluster:  9
Starting number of orders, items, order_item pairs: 32066, 20737, 328090
Items with support >= 0.0001:           11751
Remaning number of orders, items, order_item pairs: 32009, 11751, 313133
Remaining orders with 2+ items:       30842
Remaining number of orders, items, order_item pairs: 30842, 11751, 311966
Item pairs:                         1288579
Item pairs with support >= 0.0001:      98349

Cluster:  10
Starting number of orders, items, order_item pairs: 18754, 15176, 207254
Items with support >= 0.0001:           10986
Remaning number of orders, items, order_item pairs: 18735, 10986, 203064
Remaining orders with 2+ items:       18226
Remaining number of orders, items, order_item pairs: 18226, 10985, 202555
Item pairs:                          728505
Item pairs with support >= 0.0001:     248446

Cluster:  11
Starting number of orders, items, order_item pairs: 8786, 10547, 103641
Items with support >= 0.0001:           10547
Remaning number of orders, items, order_item pairs: 8786, 10547, 103641
Remaining orders with 2+ items:        8573
Remaining number of orders, items, order_item pairs: 8573, 10529, 103428
Item pairs:                          472321
Item pairs with support >= 0.0001:     472321

Cluster:  12
Starting number of orders, items, order_item pairs: 21066, 14002, 244968
Items with support >= 0.0001:            8689
Remaning number of orders, items, order_item pairs: 21049, 8689, 237885
Remaining orders with 2+ items:       20566
Remaining number of orders, items, order_item pairs: 20566, 8689, 237402
Item pairs:                          897730
Item pairs with support >= 0.0001:     151884

Cluster:  13
Starting number of orders, items, order_item pairs: 113787, 22254, 1555035
Items with support >= 0.0001:            8841
Remaning number of orders, items, order_item pairs: 113655, 8841, 1507596
Remaining orders with 2+ items:      112038
Remaining number of orders, items, order_item pairs: 112038, 8841, 1505979
Item pairs:                         3085142
Item pairs with support >= 0.0001:     177377

Cluster:  14
Starting number of orders, items, order_item pairs: 414832, 32640, 4580363
Items with support >= 0.0001:            8400
Remaning number of orders, items, order_item pairs: 413907, 8400, 4367138
Remaining orders with 2+ items:      403489
Remaining number of orders, items, order_item pairs: 403489, 8400, 4356720
Item pairs:                         5620791
Item pairs with support >= 0.0001:      92139

Cluster:  15
Starting number of orders, items, order_item pairs: 25205, 11845, 302895
Items with support >= 0.0001:            7339
Remaning number of orders, items, order_item pairs: 25191, 7339, 296933
Remaining orders with 2+ items:       24752
Remaining number of orders, items, order_item pairs: 24752, 7339, 296494
Item pairs:                          822892
Item pairs with support >= 0.0001:     197990

Cluster:  16
Starting number of orders, items, order_item pairs: 87797, 27574, 1594320
Items with support >= 0.0001:           12686
Remaning number of orders, items, order_item pairs: 87740, 12686, 1550925
Remaining orders with 2+ items:       87155
Remaining number of orders, items, order_item pairs: 87155, 12686, 1550340
Item pairs:                         4542228
Item pairs with support >= 0.0001:     369687

Cluster:  17
Starting number of orders, items, order_item pairs: 54950, 17374, 779876
Items with support >= 0.0001:            8591
Remaning number of orders, items, order_item pairs: 54835, 8591, 761420
Remaining orders with 2+ items:       53774
Remaining number of orders, items, order_item pairs: 53774, 8591, 760359
Item pairs:                         1835706
Item pairs with support >= 0.0001:     287138

Cluster:  18
Starting number of orders, items, order_item pairs: 81407, 5961, 465213
Items with support >= 0.0001:            1955
Remaning number of orders, items, order_item pairs: 81288, 1955, 454930
Remaining orders with 2+ items:       73631
Remaining number of orders, items, order_item pairs: 73631, 1955, 447273
Item pairs:                          172293
Item pairs with support >= 0.0001:      34463

Cluster:  19
Starting number of orders, items, order_item pairs: 256273, 26987, 3312984
Items with support >= 0.0001:            8751
Remaning number of orders, items, order_item pairs: 255951, 8751, 3198361
Remaining orders with 2+ items:      252423
Remaining number of orders, items, order_item pairs: 252423, 8751, 3194833

Item pairs:                         4930863
Item pairs with support >= 0.0001:     141377

In [34]:
# format item association rule dataframes and merge product names

for x in group_association_rules_dic:
    group_association_rules_dic[x] = group_association_rules_dic[x].merge(products_desc[['product_id','product_name']]
                                                                          .rename(columns = {'product_id':'item_A','product_name':'product_name_A'}), on = 'item_A')
    group_association_rules_dic[x] = group_association_rules_dic[x].merge(products_desc[['product_id','product_name']]
                                                                          .rename(columns = {'product_id':'item_B','product_name':'product_name_B'}), on = 'item_B')
    group_association_rules_dic[x] = group_association_rules_dic[x][['item_A','item_B','product_name_A',
                                                                     'product_name_B','freqAB','supportAB','freqA',
                                                                     'supportA','freqB','supportB','confAtoB',
                                                                     'confBtoA','lift']]

In [35]:
pickle.dump(group_association_rules_dic, open("grouped_association_rules_dic.p", "wb"))

In [39]:
def product_to_product(cluster, product_id, item_lift, product_name, num_products):
    df = group_association_rules_dic[cluster]
    df = df[(df['item_A'] == product_id) | (df['item_B'] == product_id)][['product_name_A','item_A','product_name_B','item_B','confAtoB','lift']].sort_values('lift', ascending = False)
    df = df[df['lift'] > item_lift]
    df = df.sort_values('lift', ascending = False)
    df = df.head(n = num_products)
    product_to_product_associations = df['product_name_A'].values.tolist()
    for x in df['product_name_B'].values.tolist():
        product_to_product_associations.append(x)
    product_to_product_associations = [x for x in product_to_product_associations if x != product_name]
    return product_to_product_associations

In [49]:
def product_recommender(user_id, product_id, item_lift, num_products):
    product_name = products.at[product_id -1,'product_name']
    cluster = clustered_users.at[user_id, 'cluster']
    return product_to_product(cluster = cluster, product_id = product_id, item_lift = item_lift,product_name = product_name, num_products = num_products)

In [54]:
for i in range(0,20):
    user = clustered_users[clustered_users['cluster']==i].sample().index[0]
    print('\ncluster', i, ': user ', user)
    print('\n'.join([x for x in (product_recommender(user, 39055, 1, 6))]))

cluster 0 : user  133663
Organic Worcestershire
Cage Free  100% Liquid Egg Whites
Tortilla Triangles Restaurant Style Chips
Summertime Blues Multigrain Tortilla Chips
Real Guacamole
Totopos de Maiz Mexican Style Thin & Crispy Salted Tortilla Chips

cluster 1 : user  79586
Thick & Crispy Tortilla Chips
Thin & Light Tortilla Chips
Banana

cluster 2 : user  160963
45 Calories & Delight Wheat Bread
Flax Plus Organic Pumpkin Flax Granola
Almond Nut & Rice Cracker Snacks
Crumbled Cheese, Traditional, Feta, Fat Free
Natural Choice Deli Oven Roasted Turkey
Shredded Carrots

cluster 3 : user  46159
1% Milkfat Low Fat Vitamin A & D Milk
Spinach And Cheese Ravioli
Thins Light & Tasty Snack Crackers Lightly Salted
Vegan Mac N Cheese
No Salt Added Organic Mixed Vegetables
Lavender Harvest Aromatherapy Mist

cluster 4 : user  115077
Pineapple
Thin & Light Tortilla Chips
Red Mango
Mango Tango Fruit Smoothie
Pomelo Grapefruit & Aloe Appeal
50/50 Mix Spring Mix and Baby Spinach Salad Blend

cluster 5 : user  144875
Thick & Crispy Tortilla Chips
Thin & Light Tortilla Chips
Organic Large Brown Grade AA Cage Free Eggs
Original Hummus
Red Peppers
Organic Cucumber

cluster 6 : user  143060
Thick & Crispy Tortilla Chips
Thin & Light Tortilla Chips
Organic Reduced Fat 2% Milk
Red Peppers
Organic Avocado
Real Guacamole

cluster 7 : user  163541
Thick & Crispy Tortilla Chips
Organic Hass Avocado
Organic Avocado
Banana

cluster 8 : user  135941
Organic Gluten-Free Quinoa Spaghetti
Deli Style Mustard
Challah Twist
7 Ancient Grains with Hint of Sea Salt Crackers
1% Low Fat Chocolate Milk
Italian Style Roasted Peppers

cluster 9 : user  27343
Thin & Light Tortilla Chips
Guacamole Seasoning Mix
Diet Green Tea with Ginseng

cluster 10 : user  136447
Soft Taco Size Flour Tortillas 10 Count
Vitamin C 250 mg 60 Gummies
Early Harvest Supersweet Petite Corn
Reduced Fat 4 Cheese Mexican Shredded Cheese
French Loaf
La Vodka Cooking Sauce

cluster 11 : user  185128


cluster 12 : user  9371
Organic Strawberry Banana Fruit Yogurt Smoothie
California White Balsamic Vinegar
Peas and Potatoe Roti Paratha
Apricot Mango Juice
Baked Crackers, Cheddar Cheese
Umcka ColdCare Soothing Syrup Cherry

cluster 13 : user  46094
Thick & Crispy Tortilla Chips
Roasted Seaweed Snacks
All Natural Marinara Sauce
Thin & Light Tortilla Chips
Fusilli No. 34
Organic Micro Greens Sprouts

cluster 14 : user  168387
Thin & Light Tortilla Chips
Organic Large Brown Grade AA Cage Free Eggs
Organic Reduced Fat 2% Milk
Original Hummus
Red Peppers
Limes

cluster 15 : user  170767
New York Cheddar Potato Chips
Organic Quinoa & Brown Rice With Garlic
Thick & Crispy Tortilla Chips
Smart Dogs Veggie Hot Dogs
TLC Cherry Dark Chocolate Chewy Granola
Large Grade AA Cage Free Eggs

cluster 16 : user  157520
Totopos Chips
Organic Raspberry Mate Energy Drink
The Peruvian Burrito
Organic Yerba Mate Traditional
Yerba Mate Orange Exuberance Tea
Dark Chocolate With Sea Salt & Almonds

cluster 17 : user  182594
Super Soft Taco Flour Tortillas
Fit Popcorn Sea Salt
Clear Plastic Wrap
Roast Beef
Via Instant Dark French Roast Coffee
JalapeÃ±o Seasoned Potato Chips

cluster 18 : user  185689


cluster 19 : user  87472
Thick & Crispy Tortilla Chips
Thin & Light Tortilla Chips
Organic Tortilla Chips
Major Dickason's Blend Ground Coffee Dark Roast
Real Guacamole
Almonds & Sea Salt in Dark Chocolate

In [56]:
product_recommender(22116, 13176, 1, 6)

['Organic Avocados Hass Variety',
 'Organic Fuji Apples',
 'Organic Mandarins',
 'Pears',
 'Apples',
 'Peppered Turkey Breast']